* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.hdr-uno {
    width: 100%;
    height: 11rem;
    background-color:#1765be;
    font-family: 'Roboto', sans-serif;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 20rem auto 1fr;
    position: relative;
}
.hdr-uno > div {
    grid-column: 3;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
}
.logo-ddtech {
    width: 20rem;
    position: absolute;
    bottom: 3rem;
    filter: invert(100%) sepia(0%) saturate(0%) brightness(156%) contrast(101%);
    grid-column: 2;
}
.nav-cont {
    grid-column: 2;
    position: relative;
}
.hdr-uno .nav-cont ul{
    display: flex;
    height: 3rem;
    align-items: center;
    list-style: none;
}
.hdr-uno .nav-cont img {
    width: 1.2rem;
    filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(163deg) brightness(103%) contrast(101%);
}
.hdr-uno .nav-cont li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1.5rem;
}
.hdr-uno .nav-cont li:nth-of-type(-n+6)::after {
    content: "|";
    font-size: 1.2rem;
    color: white;
}
.search-cont {
    grid-column: 3;
    display: flex;
    margin: 0 2rem 0 3rem;
}
.search {
    width: 18.3rem;
    height: 3.6rem;
    background-color: #4990df;
    border-radius: 2.5rem 0 0 2.5rem;
}
.search input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.search-cont p {
    display: grid;
    place-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 6.4rem;
    height: 3.6rem;
    background-color: #4990df;
    cursor: pointer;
}
.search-cont p:hover {
    transition: .5s linear;
    background-color: #48b9e6a1;
}
.agr-car-cont {
    grid-column: 4;
    display: flex;
}
.agr-car-cont >:nth-of-type(1) {
    display: flex;
    color: white;
    font-size: 14px;
}
.agr-car-cont >:nth-of-type(1) img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .5rem;
    filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(163deg) brightness(103%) contrast(101%);
}
.agr-car-cont >:nth-of-type(2) a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 1rem;
}
.agr-car-cont >:nth-of-type(2) a::before {
    content: "|";
    margin-right: 1rem;
}
.tag-uno {
    background-color: #ff7878;
    position: absolute;
    right: 54%;
    top: -2.5rem;
}
.tag-dos {
    background-color: #f1c40f;
    position: absolute;
    right: 35%;
    top: -2.5rem;
}
.buttom {
    display: inline-grid;
    place-items: center;
    width: 6rem;
    height: 2rem;
    z-index: 1;
}
.tag-uno::before {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotateZ(45deg);
    bottom: -.5rem;
    z-index: -1;
    position: absolute;
    background-color: #ff7878;
}
.tag-dos::before {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotateZ(45deg);
    bottom: -.5rem;
    z-index: -1;
    position: absolute;
    background-color: #f1c40f;
}
.buttom a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}
#btn-hdr-uno {
    display: none;
    grid-column: 3;
}
.label-uno {
    display: none;
    grid-column: 3;
    width: 5rem;
    height: 5rem;
}
.img-menu-uno {
    position: absolute;
    right: 0;
    background-image: url('https://cdn.icon-icons.com/icons2/1993/PNG/128/burger_line_list_menu_nav_navigation_option_icon_123231.png');
    background-repeat: no-repeat;
    background-size: 3rem;
    background-position: center;
    width: 5rem;
    height: 3.5rem;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(163deg) brightness(103%) contrast(101%);
}

@media (max-width:76rem) {

    .label-uno {
        display: block;
    }

    #btn-hdr-uno:checked ~ .nav-content {
        margin: 0;
    }
}